<% cache do %>
  <div class="header">
    <h1 class="logo"><%=link_to "Plants on Rails", "" %></h1>
    <div class="nav">
      <ul class="nav">
        <li class="nav"><%=link_to "Page 1", "/home/page1" %></li>
        <li class="nav"><%=link_to "Page 2", "/home/page2" %></li>
      </ul>
    </div>
  </div>

<% end %>


